

/* #sidebar{
    background-color: rgb(145, 40, 40);
}

#sidebar outerlist list:hover {
    background-color: rgb(145, 40, 40);
}

#sidebar outerlist list:hover link{
    color: rgb(255, 255, 255);
} */

