/* nav{
    background-color: gray;
} */

a {
    color: white;
    text-decoration: none;
    color: white;
}

.sidebar {
    background-color: rgb(145, 40, 40);
}

.sidebar ul li:hover{
    background-color: rgb(231, 231, 231);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar ul li:hover a{
    color:  rgb(145, 40, 40);
}

#input{
    outline: none;
}

.active {
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    color: white;
}